<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Online Test Exam Maker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<p th:text="'Exam:  ' + ${exam.name}" />
	<p th:text="'Description:  ' + ${exam.description}" />

	<form method="post" th:object="${homeModel}">
		First name:
	  	<input type="text" name="username" />
	  	Last name:
	  	<input type="password" name="password" />
	  	<input type="submit" value="Start Exam" th:action="home" />
	</form>

</body>
</html>
